// assets/layout/_responsive.scss

// ========== MOBILE & TABLET ==========
@media (max-width: 991px) {
    .layout-wrapper {
        &.layout-horizontal {
            .layout-main-container {
                margin-left: 0;
                padding-left: 1rem;
            }

            .layout-topbar .layout-menu-button {
                display: none;
            }
        }

        &.layout-overlay,
        &.layout-static {
            .layout-main-container {
                margin-left: 0 !important;
            }
        }
    }
}

// ========== DESKTOP ==========
@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-horizontal {
            .app-sidebar {
                display: none !important;
            }

            .layout-main-container {
                margin-left: 0;
                padding-left: 1.5rem;
            }

            .layout-topbar .layout-menu-button {
                display: none;
            }
        }

        &.layout-static {
            .layout-main-container {
                margin-left: 17rem;
            }

            &.layout-static-inactive {
                .layout-main-container {
                    margin-left: 0;
                }
            }
        }

        &.layout-overlay {
            .layout-main-container {
                margin-left: 0;
            }
        }
    }
}