@media (min-width: 992px) {
    .layout-wrapper {
        &.layout-horizontal {
            .layout-sidebar {
                display: none;
            }

            .layout-main-container {
                margin-left: 0;
                padding-left: 1.5rem;
            }

            .layout-topbar {
                .layout-menu-button {
                    display: none;
                }
            }
        }
    }
}